### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
#Print the columns in the dataset so that I know which are available 
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
#Count the total number of players in the purchase data
total_players_df = len(purchase_data["SN"].value_counts())
total_players_df

#Display the count of players in dataframe
player_count = pd.DataFrame({"Total Players":[total_players_df]})
player_count

   Total Players
0            576

# Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Find the numbr of unique items, average purchase price, total number of purcahses, and total revenue from all purcahses.
unique_items = len(purchase_data["SN"].unique())
average_price = (purchase_data["Price"]).mean()
purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

In [8]:
# Summarize the  stats in a dataframe
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [purchases], 
                           "Total Revenue": [total_revenue]})

#Format the columns with dollars 
summary_df.style.format({"Average Price":"${:,.2f}",
                         "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Create a groupby object for gender
gender_df = purchase_data.groupby("Gender")

# Bucketize/count the number of unique players by gender
gender_total = gender_df.nunique()["SN"]

# Find percent of players of each gender
percent_players = gender_total / total_players_df *100

# Generate dataframe for the stats above
gender_demo_df = pd.DataFrame({"Percentage of Players": percent_players,
                                "Total Count": total_players_df})

# Format the percentage of players to a meaningful decimal place
gender_demo_df.style.format({"Percentage of Players":"{:.1f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# Count of purchases by gender 
purchase_count = gender_df["Purchase ID"].count()

# Total purchase value by gender
total_purchase_value = gender_df["Price"].sum()

# Average purcahse price by gender
average_price = gender_df["Price"].mean()

# Average total purchase per person
avg_tppp = total_purchase_value / gender_total

# Present the stats in a dataframe 
gender_pa = pd.DataFrame({"Purchase Count": purchase_count,
                          "Average Purchase Price": average_price,
                          "Total Purchase Value": total_purchase_value,
                          "Average Total Purchase Per Person": avg_tppp})

# Format the columns with dollars 
gender_pa.style.format({"Average Purchase Price":"${:.2f}",
                        "Total Purchase Value":"${:.2f}",
                        "Average Total Purchase Per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Create column in data frame for age brackets using age bins 
purchase_data["Age Bracket"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create a gorupby object using the age bins 
age_bracket = purchase_data.groupby("Age Bracket")

# Count the number of playes in each age bracket 
age_count = age_bracket["SN"].nunique()

# Get percentage of players in each age bracket
age_percent = (age_count/total_players_df *100)


# Print dataframe showing the age demographics for players
age_demographics = pd.DataFrame({"Percentage of Players": age_percent,
                                "Total Count": age_count})

age_demographics.style.format({"Percentage of Players": "{:.1f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Count purchases by age bracket
purchase_count_age = age_bracket["Purchase ID"].count()

# Get average purchase price by age bracket
avg_purchase_price_age = age_bracket["Price"].mean()

# Get total purchase value by age bracket 
total_purchase_value_age = age_bracket["Price"].sum()

# Get the average purchase per person in the age bracket
avg_purchase_pp_age = total_purchase_value_age/purchase_count_age

# Create dataframe with stats by age dmeographics 
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value_age,
                                 "Average Total Purchase Per Person": avg_purchase_pp_age})


# Format the columns with dollars 
age_demographics.style.format({"Average Purchase Price":"${:.2f}",
                        "Total Purchase Value":"${:.2f}",
                        "Average Total Purchase Per Person":"${:.2f}"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
# Create a groupby object using the age bins 
top_spender = purchase_data.groupby("SN")

# Count purchases of top spenders
purchase_count_sn = top_spender["Purchase ID"].count()

# Get average purchase price for top spenders
avg_purchase_price_sn = top_spender["Price"].mean()

# Get total purchase value by age bracket 
total_purchase_value_sn = top_spender["Price"].sum()


# Create dataframe with stats about top spenders
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_sn,
                             "Average Purchase Price": avg_purchase_price_sn,
                             "Total Purchase Value":total_purchase_value_sn})

# Format the values in descending order from column, Total Purchase Value 
big_spenders = top_spenders.sort_values(["Total Purchase Value"],ascending=False).head()

# Format the columns with dollars 
big_spenders.head().style.format({"Average Purchase Price":"${:.2f}",
                                  "Total Purchase Value":"${:.2f}"})

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by by Item ID and Item Name.
popular_items = popular.groupby(["Item ID", "Item Name"])

# Count purchases for popular items
purchase_count_item = popular_items["Item ID"].count()

# Get price of popular item
price_item = popular_items["Price"].mean()

# Get total purchase value by item
total_purchase_value = popular_items["Price"].sum()


# Create initial dataframe to summarize stats for popular items
popularity = pd.DataFrame({"Purchase Count": purchase_count_item,
                          "Item Price": price_item,
                          "Total Purchase Value":total_purchase_value})

# Format the values in descending order from purchase count
popular_spend = popularity.sort_values(["Purchase Count"],ascending=False).head()


#Format colums with dollars
popular_spend.head().style.format({"Item Price":"${:.2f}",
                                   "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [56]:
#Format the values in descending order from total purchase value
popular_spend = popularity.sort_values(["Total Purchase Value"],ascending=False).head()

#Format columns with dollars
popular_spend.head().style.format({"Item Price":"${:.2f}",
                                   "Total Purchase Value":"${:.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80